@page "/countries"

@* <h3>@Localizer["Countries"]</h3> *@
<MudPaper Class="pa-4">
    <MudText Typo="Typo.h5" GutterBottom="true">@Localizer["Countries"]</MudText>
    <MudButton Color="Color.Primary" Variant="Variant.Filled" Href="/countries/create">
        @Localizer["New"] @Localizer["Country"]
    </MudButton>
 </MudPaper>


<GenericList MyList="Countries">
    <Body>
        <MudTable Items="@Countries" Striped="true" Hover="true">
            <HeaderContent>
                <MudTh>@Localizer["Name"]</MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="@Localizer["Name"]">@context.Name</MudTd>
                <MudTd>
                    <MudButton Variant="Variant.Filled" Color="Color.Warning" Href="/countries/edit/{context.Id}">@Localizer["Edit"]</MudButton>
                    <MudButton Variant="Variant.Filled" Color="Color.Error">@Localizer["Delete"]</MudButton>
                </MudTd>
            </RowTemplate>
        </MudTable>
    </Body>
</GenericList>




